<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="angular/angular.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body ng-app="myApp" ng-controller="viewCtrl">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input ng-model="student.name" class="form-control" type="text" name="">
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input ng-model="student.birthday" class="form-control" type="text" name="">
                    </div>
                    <div class="form-group">
                        <label>Mark</label>
                        <input ng-model="student.mark" class="form-control" type="text" name="">
                    </div>
                    <button ng-click="save()" class="btn btn-primary" type="button">Save</button>
                    <button class="btn btn-primary" type="button">Cancel</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Birthday</td>
                            <td>Mark</td>
                            <td>Action</td>
                        </tr>
                        <tr ng-repeat = "st in list_student">
                            <td>{{st.name}}</td>
                            <td>{{st.birthday}}</td>
                            <td>{{st.mark}}</td>
                            <td>Edit</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
      <script>
        var app = angular.module("myApp",[]);
        app.controller("viewCtrl", function($scope){
            $scope.student = {};    
            $scope.save = function(){
                $scope.list_student.push(angular.copy($scope.student));
            }
            $scope.clear = function(){
                $scope.student = {};
            }
            $scope.list_student = [
                {
                    name : "Baokq",
                    birthday : "04-10-2004",
                    mark : 10
                },
                {
                    name : "Trần Thị Cẩm Hà",
                    birthday : "14-05-2007",
                    mark : 10
                },
                {
                    name : "Tran Manh Dung",
                    birthday : "10-11-2004",
                    mark : 10
                },
                {
                    name : "Nguyen Van Viet",
                    birthday : "06-09-2004",
                    mark : 10
                },
            ]
        })
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>